<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpsBinding_ICustomerService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44308/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpsBinding_ICustomerService"
                contract="CustomerServiceReference.ICustomerService" name="basicHttpsBinding_ICustomerService" />
        </client>
    </system.serviceModel>
</configuration>